@forward "total"
@use "total" as t 
body 
    @include t.cor3 
    @include t.dm 
    @include t.dp
    padding: calc(t.$total + t.$final)
// Defina variáveis para tamanhos de tela comuns
$mobile: 768px
$tablet: 1024px
$desktop: 1200px

// Exemplo de @media query usando variáveis
@media screen and (max-width: $mobile)
  // Estilos para telas menores que 768px
    body
    font-size: 14px

@media screen and (min-width: $tablet) and (max-width: $desktop)
  // Estilos para telas entre 1024px e 1200px
    body
    font-size: 16px

@media screen and (min-width: $desktop)
  // Estilos para telas maiores que 1200px
    body
    font-size: 18px
details 
    display: flex 
    cursor: pointer 
ul 
    list-style: none
    text-align: center
    padding: 0px
    li
        @include t.dp
    a 
        color: yellow 
input, button, textarea
    width: auto
    height: auto

